body {
  background: url("../img/blackjack_table.png") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  color: white;
}

.dealer {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px black;
  margin-bottom: 0;
}

.player {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px black;
  margin-bottom: 0;
}

.montserrat-body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.botao-card {
  background-color: rgb(182, 31, 31);
  color: white;
}

.botao-card:hover {
  background-color: rgb(122, 19, 19);
  color: white;
}

.botao-stand {
  background-color: rgb(215, 218, 181);
  color: rgb(0, 0, 0);
}

.botao-stand:hover {
  background-color: rgb(187, 190, 153);
  color: rgb(0, 0, 0);
}

#cartas-dealer img {
  height: 150px;
  width: 100px;
  margin: 1px;
}

#cartas-jogador img {
  height: 150px;
  width: 100px;
  margin: 1px;
}

/*responsividade mobile*/
@media (max-width: 991px) {
  #cartas-dealer img {
    height: 130px;
    width: 80px;
    margin: 1px;
    margin-top: 20px;
  }

  #cartas-jogador img {
    height: 130px;
    width: 80px;
    margin: 1px;
    margin-top: 20px;
  }

  .dealer {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black;
    font-size: 25px;
    margin-top: 70px;
    margin-bottom: 10px;
  }

  .player {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black;
    font-size: 25px;
    margin-bottom: 0;
  }

  .headerBj {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    margin-bottom: 0;
  }

  .placar {
    font-size: 12px;
    text-align: center;
    margin-bottom: 0px;
  }
}
